#widget-container{
  max-width: 100%;
}
#widget-container h2 {
    color: var(--theia-ui-font-color1);
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
    text-transform: uppercase;
}

#issues input{
	margin-left: 10px;
	background: transparent;
    border: none;
    color: white;

    max-width: 100%;
    height: 20px;

}

#TD{
	display: none;
	margin-left: 10px;
	margin-top: 20px;
}
#show_pattern_table td {
	width: 200px;
}
#issues{
	margin-left: 10px;
  margin-right: 10px;
  max-width: 100%;
}

.divIssue{
	border-style: solid;
    border-width: thin;
    margin: 5px;
	padding: 2px;
	border-color: #6a6a6a;
}

.divIssue i{
    font-size: 12px;
}

.divIssue span{
	float: right;
}

.divIssue p{
	display: block;
    font-size: 13px;
	margin: auto;
	margin-top: 3px;
}
.btn-get-classes{
	display: hidden;
}

.suggestions {
  border: 1px #ccc;
  margin-left: 10px;
  margin-top: 25px;
  width:190px;
  position: absolute;
  background-color: #3c3c3c;
  padding-left: 2px;
}
.suggestions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.suggestions ul li {
  padding: 3px 0;
}
.suggestions ul li:hover {
  background: #eee;
}
#btnFinalize{
  margin-left: 10px;
}
#image{
  max-width: 100%;
  height: auto;
}
#elements{
  max-width: 100%;
  visibility: hidden;
}
.AbstractFactory{
  content : url(./img/AbstractFactoryIcon.jpg);
}
.Adapter{
  content : url(./img/AdapterIcon.jpg);
}
.Bridge{
  content : url(./img/BridgeIcon.jpg);
}
.Builder{
  content : url(./img/BuilderIcon.jpg);
}
.Composite{
  content : url(./img/CompositeIcon.jpg);
}
.Decorator{
  content : url(./img/DecoratorIcon.jpg);
}
.FactoryMethod{
  content : url(./img/AdapterIcon.jpg);
}
.Prototype{
  content : url(./img/PrototypeIcon.jpg);
}
.Singleton{
  content : url(./img/SingletonIcon.jpg);
}

#divWiz input{
  margin-right: 20px;
}


