#widget-container{
	width: 550px;
}
#widget-container h2 {
    color: var(--theia-ui-font-color1);
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
    text-transform: uppercase;
}
#label-URL-project{
	margin-left: 10px;
}

input{
	margin-left: 10px;
	background: transparent;
    border: none;
    color: white;
    width: 60%;
}

#TD{
	display: none;
	margin-left: 10px;
	margin-top: 20px;
}
#show_pattern_table td {
	width: 200px;
}
#issues{
	margin-left: 10px;
}

.divIssue{
	border-style: solid;
    border-width: thin;
    margin: 5px;
	padding: 2px;
	border-color: #6a6a6a;
}

.divIssue i{
    font-size: 12px;
}

.divIssue span{
	float: right;
}

.divIssue p{
	display: block;
    font-size: 13px;
	margin: auto;
	margin-top: 3px;
}
.btn-get-classes{
	display: hidden;
}